body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: white;
}

.edit-btn,
.delete-btn {
  margin-right: 20px;
}

/* .card-style {
  padding-bottom: 20px;
} */

#container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800;
  /* display: grid; */
  /* grid-template-columns: 30% 30% 30%; */
  /* grid-template-rows: 500px 50px 200px; */
  /* column-gap: 10px; */
  /* row-gap: 15px; */
  /* justify-items: center;
  align-items: start; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); */ 

  /* display: flex;
  flex-direction: row; */
  
  
  /* display:grid;
  grid-template-columns:3fr;
  grid-template-rows:2fr;
  grid-gap:20px; */


  /* flex-direction: row; */
  /* flex-wrap: wrap;
  align-items: center; */
  /* justify-content: center; */
  /* display:flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
  /* flex-direction: column;*/
  /* align-items: center;  */
  /* justify-content: center; */
}

#nav-menu {
  padding-bottom: 100px;
}
