body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#home {
  background-image:url("https://camo.githubusercontent.com/e4f8a091d509be9d0c56a9198373f91b17136344edf7156bd5ec8f15506c0a71/68747470733a2f2f73332d65752d776573742d312e616d617a6f6e6177732e636f6d2f69682d6d6174657269616c732f75706c6f6164732f75706c6f61645f39323665373564343566326139393731353266343430313834346233623464352e6a7067");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: first baseline;
  height: 70vh;
  align-items: flex-end;

}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: white;
}

.edit-btn,
.delete-btn {
  margin-right: 20px;
}



#container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800;
  
}

#nav-menu {
  padding-bottom: 100px;
}

#create-form {
  max-width: 800px;
  
}
